<div class="row">
  <div class="box">
    <div class="chart-head">Temperature Sensor</div>
    <div class="chart">{% include 'HTML/graph/gauge.html' %}</div>
  </div>
  <div class="box">
    <div class="chart-head">Flow Meter</div>
    <div class="chart">{% include 'HTML/graph/pie.html' %}</div>
  </div>
</div>
<div class="row">
  <div class="box">
    <div class="chart-head">Pressure Sensor</div>
    <div class="chart">{% include 'HTML/graph/timeline.html' %}</div>
  </div>
  <div class="box">
    <div class="chart-head">Tank Level</div>
    <div class="chart">{% include 'HTML/graph/bar.html' %}</div>
  </div>
</div>
